.main{
    .contenedor{
        overflow:visible;
    }
    .acerca-de{
        text-align:center;
        .foto{
            margin:-60px;
            img{
                vertical-align: top;
                border-radius: 50%;
                border: 5px solid rgba(255,255,255,0.2)
            }
        }
        .texto{
            margin-top: 90px;
            margin-bottom: 60px;
            color: #5a5a5a;
            font-size:1em;
            line-height: 30px;
            width: 80% auto;
            .titulo{
                font-size: 34px;
                line-height: 34px;
                margin-bottom: 40px;
                font-weight: 300;
                color:#dd820d;
                text-align: center;
            }
            .bold{
                color: #3895ea;
                text-decoration: underline;
            }
        }
    }
    .trabajos{
        background: #f2f2f2;
        padding: 60px 0;
        .contenedor{
            overflow:hidden;
        }
        .titulo{
            font-size: 34px;
            line-height: 34px;
            margin-bottom: 40px;
            font-weight: 300;
            color:#323068;
            text-align: center;
        }
        .contenedor-trabajos{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content: space-between;
            .trabajo{
                width: 23%;
                margin-bottom: 40px;
                .thumb{
                    width: 100%;
                    margin-bottom: 10px;
                    img{
                        width: 100%;
                        border-radius: 10px;
                        vertical-align: top;
                    }
                }
                .descripcion{
                    text-align: center;
                    .nombre{
                        font-weight: 700;
                        color: #3898ea;
                        margin-bottom: 10px;
                    }
                    .categoria{
                        font-size: 14px;
                        color:#636363;
                    }
                }
            }
        }
    }
}